

.mobileJobCards, .candSearchBar {
  display: none!important;
}

.findWorkDesktop {
  width: 100%;
  padding: 0 1rem;
  display: block;
   
}



@media screen and (max-width: 1023px) {
  .findWorkDesktop {
    display: none;
  }
  
  .mobileFindWork {
    display: block!important;
  }

}

@media screen and (min-width: 1024px) {
  .mobileFindWork {
    display: none!important;
  }
  
  .findWorkDesktop {
    display: block;
  }
}
