

.mobileJobCards, .candSearchBar {
    display: none!important;
  }
  
  .savedWorkDesktop {
    width: 100%;
    padding: 0 1rem;
    display: block;
     
  }
  
  
/*   
  @media screen and (max-width: 1023px) {
    .savedWorkDesktop {
      display: none;
    }
    
    .mobileSavedWork {
      display: block!important;
    }
  
  }
  
  @media screen and (min-width: 1024px) {
    .mobileSavedWork {
      display: none!important;
    }
    
    .savedWorkDesktop {
      display: block;
    }
  }
   */


   @media screen and (max-width: 480px) {
    .savedWorkDesktop {
      display: none;
    }
    
    .mobileSavedWork {
      display: block!important;
    }
  
  }
  
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .mobileSavedWork, .gridOne, .gridThree {
      display: none!important;
    }
    .savedWorkDesktop {
      display: block!important;
    }
    
  }
  
  @media screen and (min-width: 1024px) {
    .mobileSavedWork {
      display: none!important;
    }
    
    .savedWorkDesktop {
      display: block;
    }
  }